body {
    background-color: #52006b; 
    color: white; 
}

.container {
    margin-top: 50px;
}

h1 {
    text-align: center;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; 
    margin-top: 80px; 
}

.button-container {
    background-color: #5b2d8d; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.btn-custom {
    background-color: #007bff; 
    color: white; 
    border: none; 
}

.btn-custom:hover {
    background-color: #0056b3; 
}

.modal-header {
    background-color: #343a40; 
    color: white; 
}

.modal-body {
    background-color: #ba7afa;
}

.btn-scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 10px 20px;
    background-color: #d1c4e9;
    color: #333;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn-scroll:hover {
    background-color: #b39ddb;
}